/************** RESET *************/
* { margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/************** RESET *************/


/* approccio MOBILE FIRST */


/**********************************
************** BODY ***************
***********************************/

body {
    height: 100vh;
    /* diamo un'altezza relativa al body in modo da poter gestire meglio i ridimensionameti*/
    background-color: yellow;
    display: flex;
    /*con  il flex andremo poi ad inserire un container centrato (margin: auto) per la modalità desktop*/
}


.nav {
    display: none;
}


.container {
    background-color: blue;
    height: 100%;
    width: 100%;
}

.avatar-mobile {
    display: flex;
    /*height: 100% ? */
    
}

#av1 {
    height: 150px;
    /* height 80% ? */ 
    border-radius: 50%;
    margin: auto 0;
}


/**********************************
************ UTILITIES ************
***********************************/

.h10m {
    height: 10%;
    background-color: #eaeaea;

}

.h80m {
    height: 80%;
    background-color: green;
}

.h90m {
    height: 90%;
    background-color: lightblue;
}

.bor {
    border: 2px solid black;
}



/**********************************
********* MEDIA QUERIES ***********
***********************************/



/************ MOBILE **************/

@media  screen and (min-width: 576px;){

   
}

/************ TABLET **************/

@media screen and (min-width: 992px){
    body {
        background-color: darksalmon;
    }

    .nav {
        background-color: red;
        height: 100%;
        width: 10%;
        display: block;
    }

    .container {
        background-color: blue;
        width: 90%;
        height: 100%;
        margin: auto;
    }
}

/************ DESKTOP **************/

@media screen and (min-width: 1200px){

    .nav {
        width: 35%;
        height: 95%;
        margin: auto 0 auto 5%;
    }

        /* qui ho fatto un calcolo matematico di percentuali 
        tra .nav e .container. vedo che il layout funziona 
        comunque, almeno adesso, almeno visivamente*/

    .container {
        width: 55%;
        height: 95%;
        margin: auto 5% auto 0;
    }

}